<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="items/create" routerLinkActive="active">Create Item</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
  <!-- Jumbotron -->
  <div class="p-5 text-center bg-dark">
    <h1 class="mb-3 text-white">Practice web</h1>
    <p class="mb-3 text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatum quidem obcaecati omnis repudiandae nesciunt hic quo aliquam mollitia impedit, facilis aperiam explicabo? Deserunt explicabo velit neque ipsum perspiciatis quia.</p>
    <a class="btn btn-primary" href="" role="button">Create Item</a>
  </div>
  <!-- Jumbotron -->
</header>
